<ion-header #header>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">

  <swiper-container 
  slidesPerView="1"
  [spaceBetween]="30"
  zoom="true"
  loop="true"
  effect="coverflow"
  [coverflowEffect]="{ slideShadows: false }"
  *ngIf="mode == 'jikan'">
    <swiper-slide *ngFor="let picture of pictures">
      <div class="swiper-zoom-container">
        <img class="animate__animated animate__fadeIn animate__faster" [src]="picture.jpg.large_image_url">
      </div>
    </swiper-slide>
  </swiper-container>

  <swiper-container 
  slidesPerView="1"
  [spaceBetween]="30"
  zoom="true"
  loop="true"
  effect="coverflow"
  [coverflowEffect]="{ slideShadows: false }"
  *ngIf="mode == 'normal'">
    <swiper-slide *ngFor="let picture of pictures">
      <div class="swiper-zoom-container">
        <img class="animate__animated animate__fadeIn animate__faster" [src]="picture">
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" activated="true" >
    <ion-fab-button class="add-fab">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button class="instagram-fab" (click)="shareInstagram()">
        <ion-icon name="logo-instagram" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="download-fab" (click)="download()">
        <ion-icon name="ios-arrow-round-down" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="share-fab" (click)="share()">
        <ion-icon name="md-share" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  
</ion-content>