// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #0495b6;
    --ion-color-primary-rgb: 4,149,182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0483a0;
    --ion-color-primary-tint: #1da0bd;

    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    /** ------- Custom --------- **/

    /** card border **/
    --ion-color-card-border: #d6d6d6;
    --ion-color-card-border-rgb: 214, 214, 214;
    --ion-color-card-border-contrast: #000000;
    --ion-color-card-border-contrast-rgb: 0, 0, 0;
    --ion-color-card-border-shade: #bcbcbc;
    --ion-color-card-border-tint: #dadada;

    /** form background **/
    --ion-color-form: #ededed;
    --ion-color-form-rgb: 74, 74, 74;
    --ion-color-form-contrast: #000000;
    --ion-color-form-contrast-rgb: 255, 255, 255;
    --ion-color-form-shade: #414141;
    --ion-color-form-tint: #5c5c5c;

}

.ion-color-card-border {
    --ion-color-base: var(--ion-color-card-border);
    --ion-color-base-rgb: var(--ion-color-card-border-rgb);
    --ion-color-contrast: var(--ion-color-card-border-contrast);
    --ion-color-contrast-rgb: var(--ion-color-card-border-contrast-rgb);
    --ion-color-shade: var(--ion-color-card-border-shade);
    --ion-color-tint: var(--ion-color-card-border-tint);
}

.ion-color-form {
    --ion-color-base: var(--ion-color-form);
    --ion-color-base-rgb: var(--ion-color-form-rgb);
    --ion-color-contrast: var(--ion-color-form-contrast);
    --ion-color-contrast-rgb: var(--ion-color-form-contrast-rgb);
    --ion-color-shade: var(--ion-color-form-shade);
    --ion-color-tint: var(--ion-color-form-tint);
}

body.dark {
    --ion-color-primary: #00c2ee;
    --ion-color-primary-rgb: 0,194,238;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #00abd1;
    --ion-color-primary-tint: #1ac8f0;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    /** ------- Custom --------- **/

    /** card border **/
    --ion-color-card-border: #313131;
    --ion-color-card-border-rgb: 214, 214, 214;
    --ion-color-card-border-contrast: #000000;
    --ion-color-card-border-contrast-rgb: 0, 0, 0;
    --ion-color-card-border-shade: #bcbcbc;
    --ion-color-card-border-tint: #dadada;

    /** form background **/
    --ion-color-form: #4a4a4a;
    --ion-color-form-rgb: 74, 74, 74;
    --ion-color-form-contrast: #ffffff;
    --ion-color-form-contrast-rgb: 255, 255, 255;
    --ion-color-form-shade: #414141;
    --ion-color-form-tint: #5c5c5c;
}

/*
     * iOS Dark Theme
     * -------------------------------------------
     */

.ios body.dark {
    --ion-border-color: #003845;

    --ion-background-color: #07191e;
	--ion-background-color-rgb: 7,25,30;

	--ion-text-color: #f5f5f5;
    --ion-text-color-rgb: 245,245,245;

    --ion-color-step-50: #132429;
	--ion-color-step-100: #1f2f34;
	--ion-color-step-150: #2b3a3e;
	--ion-color-step-200: #374549;
	--ion-color-step-250: #435054;
	--ion-color-step-300: #4e5b5f;
	--ion-color-step-350: #5a6669;
	--ion-color-step-400: #667174;
	--ion-color-step-450: #727c7f;
	--ion-color-step-500: #7e878a;
	--ion-color-step-550: #8a9294;
	--ion-color-step-600: #969d9f;
	--ion-color-step-650: #a2a8aa;
	--ion-color-step-700: #aeb3b5;
	--ion-color-step-750: #babebf;
	--ion-color-step-800: #c5c9ca;
	--ion-color-step-850: #d1d4d5;
	--ion-color-step-900: #dddfe0;
	--ion-color-step-950: #e9eaea;

    --ion-item-background: #002a34;

    --ion-toolbar-background: #081f25;

    --ion-tab-bar-background: #081f25;

    --ion-card-background: #002a34;
}

.ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
     * Material Design Dark Theme
     * -------------------------------------------
     */

.md body.dark {

    --ion-border-color: #003845;

    --ion-background-color: #07191e;
	--ion-background-color-rgb: 7,25,30;

	--ion-text-color: #f5f5f5;
    --ion-text-color-rgb: 245,245,245;

    --ion-color-step-50: #132429;
	--ion-color-step-100: #1f2f34;
	--ion-color-step-150: #2b3a3e;
	--ion-color-step-200: #374549;
	--ion-color-step-250: #435054;
	--ion-color-step-300: #4e5b5f;
	--ion-color-step-350: #5a6669;
	--ion-color-step-400: #667174;
	--ion-color-step-450: #727c7f;
	--ion-color-step-500: #7e878a;
	--ion-color-step-550: #8a9294;
	--ion-color-step-600: #969d9f;
	--ion-color-step-650: #a2a8aa;
	--ion-color-step-700: #aeb3b5;
	--ion-color-step-750: #babebf;
	--ion-color-step-800: #c5c9ca;
	--ion-color-step-850: #d1d4d5;
	--ion-color-step-900: #dddfe0;
	--ion-color-step-950: #e9eaea;

    --ion-item-background: #002a34;

    --ion-toolbar-background: #081f25;

    --ion-tab-bar-background: #081f25;

    --ion-card-background: #002a34;
}

body.light {
    /*
     * Material Design Light Theme
     * -------------------------------------------
     */

     --ion-toolbar-background: #f9f9f9;
    .md body {
        --ion-tab-bar-background: #f6f6f6;
    }
}