ion-header {
    ion-toolbar {
        --padding-top: 0 !important;
        padding-top: 0 !important;
    }
}

.logo_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;

    img {
        width: 150px;
        border-radius: 10px;
        background-color: unset;
    }

    .title {
        text-align: center;

        h1 {
            font-weight: 600;
        }

        p {
            font-size: 0.9rem;
            font-weight: 500;
            color: #BEBEBE;
            margin: 0;

            :host-context(body.light) & {
                color: #858585;
            }
        }
    }
}

.features {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;

    .feature {
        display: flex;
        flex-direction: row;

        .icon {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;

            ion-icon {
                font-size: 40px;
            }
        }

        .content {
            width: 75%;

            .title {
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom:  5px;
            }

            .description {
                font-size: 0.9rem;
                font-weight: normal;
                color: #BEBEBE;
                margin: 0;

                :host-context(body.light) & {
                    color: #858585;
                }
            }
        }
    }
}

.footer_container {
    padding: 20px;
    background: #002932;
    
    :host-context(body.light) & {
        background: #f7f7f7;
    }
}