ion-toolbar {
    --padding-top: 0 !important;
    padding-top: 0 !important;
}

ion-content {
    .centerInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        text-align: center;

        p {
            margin: 10px 15px;
        }

        ion-icon {
            font-size: 50px;
            color: #ccc;
        }
    }

    ion-card {
        border-radius: 10px;
        ion-card-content {
            padding: 0 13px 16px 13px;
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid var(--ion-border-color);
            background: var(--ion-card-background);
            ion-button {
                color: var(--ion-text-color);
                font-size: smaller;
                font-weight: normal;
            }
        }

        ion-item {

            ion-avatar {
                position: relative;
                margin-right: 10px;
                border: 1px solid var(--ion-border-color);

                ion-icon {
                    position: absolute;
                    font-size: 14px;
                    padding: 4px;
                    bottom: -7px;
                    left: 20px;
                    background: #f0b400;
                    color: #000;
                    border-radius: 50px;
                    border: 1px solid var(--ion-border-color);
                }
            }
        }
    }

    .main_comment_card  {
        border-radius: 0;
        margin: 0;
        box-shadow: none;
        background: var(--ion-card-background);
        border-bottom: var(--ion-border-color);
        ion-item {
            --background: transparent;
        }
    }
}