ion-header {

    ion-toolbar {

        --padding-top: 0 !important;
        padding-top: 0 !important;

        ion-searchbar {
            padding-bottom: 15px;
        }
    }
}

ion-label {
    margin: 20px 0 20px 0;
}

ion-thumbnail {
    img {
        border-radius: 5px;
    }
}

ion-item.nextToSeeItem {
    --background: var(--ion-card-background);
    border-top: 1px solid var(--ion-border-color);
}